<div id="icon_div">
  <div style="width:50px;margin:auto" title="view code on GitHub">
    <a href="https://github.com/jinjagit/members_only">
    <%= image_tag("github_mask.png", :alt => "GitHub icon", id: "github_icon") %>
    </a>
  </div>
</div>
